# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.py[cod]

# C extensions
*.so
s.py
# Distribution / packaging
.Python
env/
dist/
downloads/
eggs/
.eggs/
parts/
var/
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.DS_Store
# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
mkdocs.yml
# Cookiecutter
output/
site/
